@import url("https://fonts.googleapis.com/css?family=Oswald:500");

html {
  height: 100%;
}

body {
  --app-background: #fafafa;
  --app-text-color: #202124;
  --card-background: #ffffff;
  --app-horizontal-margin: 65px;
  --app-title-font: 'Oswald', serif;
  --app-normal-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --app-header-height: 64px;
  --app-header-z-index: 5;

  --color-green: #00D1CA;
  --color-red: #ce1616;
  --color-navy: #1A263E;
  --color-navy-light: #2A2332;
  --shadow-level-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --shadow-level-2: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  background: var(--app-background);
  color: var(--app-text-color);
  font-family: var(--app-normal-font);
  font-weight: 400;
}

strong {
  font-weight: bold;
}

a {
  color: var(--color-green);
  font-weight: 200;
  text-transform: lowercase;
}

a:hover {
  color: #FFF;
}

.button {
  display: inline-flex;
  gap: 8px;
  color: #fff;
  background-color: var(--color-navy-light);
  border-radius: 8px;
  box-shadow: var(--shadow-level-1);
  font-size: 16px;
  font-weight: 400;
  padding: 8px 20px;
  text-align: center;
  letter-spacing: -.01em;
  transition: transform .2s ease-in-out;
}

.button:hover {
  box-shadow: var(--shadow-level-1);
  filter: brightness(1.2);
  transform: scale(1.05);
}

.App {
  font-family: var(--app-normal-font);
  font-size: 16px;
  height: 100vh;
  overflow: auto;
  letter-spacing: 1px;
}

.App h2,
.TitleList .Title,
.Users h1 {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -.01em;
  margin-bottom: .5em;
}

.App p {
  line-height: 1.6em;
  margin-bottom: 1em;
}

.App .spring {
  flex: 1 auto;
}

.App__header {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  box-sizing: border-box;
  z-index: var(--app-header-z-index);
  min-height: var(--app-header-height);
  display: flex;
  flex-direction: column;
  transition: background-color .3s ease-in-out;
  display: flex;
  align-items: center;
  padding: 0 var(--app-horizontal-margin);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--shadow-level-1);
  color: var(--app-text-color);
}

.App__nav {
  display: flex;
  justify-content: right;
  gap: 8px;
  margin-bottom: 12px;
}

.App__header.fixed {
  background-color: rgba(0, 0, 0, 0.8);
}

.App__logo {
  flex: 1;
  color: var(--color-red);
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 500;
  font-family: var(--app-title-font);
  letter-spacing: -1.2px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 4px;
}

.App__content {
  padding: calc(var(--app-header-height) + 12px) var(--app-horizontal-margin) 10px;
}

.App__promo {
  background-color: #514360;
  color: #FFF;
  margin: 0;
  border-radius: 8px;
  font-size: 15px;
  letter-spacing: -.005rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;
  flex: 1;
}

.App__promo strong {
  color: var(--color-green);
}

.TitleList {
  box-sizing: border-box;
  transition: opacity 3s ease;
  position: relative;
  z-index: 4;
}

.DevToast {
  --toast-size: 224px;

  background-color: var(--color-green);
  color: var(--color-navy);
  letter-spacing: -.04rem;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
  position: absolute;
  z-index: calc(var(--app-header-z-index) + 1);
  width: var(--toast-size);
  left: calc(50% - calc(var(--toast-size) / 2));
  padding: 6px 0;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: var(--shadow-level-1);
  cursor: default;
}

.TitleList--empty {
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  margin-bottom: .5em;
  margin: 1em;
}

.TitleList__slider {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  display: flex;
  place-content: center flex-start;
  flex-flow: row wrap;
}

.TitleList h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Item {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  z-index: 20;
  overflow: hidden;
  max-width: 300px;
  width: calc(30% - 20px);
  margin: 20px 0px 0px 20px;
  background-color: var(--card-background);
  border-radius: 4px;
  box-shadow: var(--shadow-level-1);
  transition: box-shadow 0.3s cubic-bezier(.25, .8, .25, 1);
}

.Item:hover {
  z-index: 21;
  box-shadow: var(--shadow-level-2);
}

.Item:last-child {
  margin-right: 0;
}

.Item__container {
  background-color: #000000;
  background-position: center;
  height: 200px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Item__overlay {
  padding: 16px;
  position: relative;
  height: auto;
  pointer-events: all;
  opacity: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  color: var(--app-text-color);
}

.Item__title {
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 8px;
}

.Item__rating {
  font-size: 14px;
  color: #666;
  margin-bottom: 16px;
}

.Item__price {
  background: transparent;
  opacity: 1;
  border-radius: 0;
  padding: 0;
  font-size: 20px;
  font-weight: bold;
  color: var(--app-text-color);
  margin-bottom: 16px;
}

.Item:hover .Item__overlay {
  opacity: 1;
  pointer-events: all;
}

.Item__button {
  background-color: var(--color-green);
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 8px 16px;
  border-radius: 4px;
  box-shadow: var(--shadow-level-1);
}

.Item__button--rented {
  background-color: #e0e0e0;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 8px 16px;
  border-radius: 4px;
  box-shadow: none;
}

.Item__button--rented:hover {
  background-color: #d5d5d5;
}

@media only screen and (max-width: 1050px) {
  .Item__title {
    font-size: 18px;
  }

  .Item__button {
    font-size: 14px;
  }
}

@media only screen and (max-width: 800px) {
  .Item {
    width: 180px;
  }

  .Item__title,
  .Item__rating {
    display: none;
  }
}

.Cart {
  display: inline-block;
  position: relative;
  cursor: pointer;
  z-index: 20;
  overflow: hidden;
  max-width: 200px;
  width: calc(30% - 20px);
  margin: 20px 0px 0px 20px;
  aspect-ratio: 0.69;
  box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px, rgb(0 0 0 / 73%) 0px 16px 10px -10px;
  transition-duration: 150ms;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-out;
}

.Cart__container {
  border-radius: 4px;
  background-color: var(--card-background);
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  position: relative;
  padding: 16px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  box-shadow: var(--shadow-level-1);
  color: var(--app-text-color);
}

.Cart__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}

.Cart__list {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: 14px;
  font-weight: normal;
  margin: 12px 4px;
}

.Cart__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 4px;
}

.Cart__item-name {
  flex: 1;
  white-space: nowrap;
  margin-right: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Cart__total {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px 0;
  border-top: 1px solid #d4d3d668;
}

.Cart__total-title {
  flex: 1;
  white-space: nowrap;
  margin-right: 4px;
}

.Cart__total-price {
  font-size: 22px;
}

@media only screen and (max-width: 800px) {
  .Cart {
    width: 180px;
  }

  .Cart__list {
    display: none;
  }

  .Cart__total {
    border: 0;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }

  .Cart__total-title {
    flex: 0;
  }
}

.Loader {
  display: flex;
  align-items: center;
  align-content: center;
  margin: 0 auto 1em;
}

.Loader svg path,
.Loader svg rect {
  fill: var(--color-green);
}